body {
  background-color: rgb(240, 223, 190);
}

img {
  width: 15%;
  position: absolute;
}

.west {
  transform: rotate(180deg);
}

.north {
  transform: rotate(270deg);
}

.south {
  transform: rotate(90deg);
}
